@{
    ViewData["Title"] = "All Posts";

    bool liked = Model.UserLikes.Any(ul => ul.UserId == Context.Session.GetInt32("UserId"));
}

@model Post



<div class="rounded shadow-primary p-3 mb-3 text-center border border-light glow">
    <h3>Topic : @Model.Topic | Posted At: @Model.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</h3>
    <p>Posted By: @Model.Creator.FirstName @Model.Creator.LastName </p>
    <p>Body : @Model.Body</p>
    <img src="@Model.ImgURL" alt="@Model.Topic">

    @if (Model.UserId == Context.Session.GetInt32("UserId"))
    {

        <form asp-action="DeletePost" asp-controller="Post" asp-route-postId="@Model.PostId" method="POST">
            <button class="btn btn-danger">Delete Post</button>
        </form>

        <a class="btn btn-secondary" asp-action="EditPost" asp-controller="Post" asp-route-postId="@Model.PostId">Edit
            Post</a>

    }


    <form asp-action="ToggleLike" asp-route-postId="@Model.PostId" asp-controller="Post">
        <button class="btn btn-info">@(liked ? "Unlike" : "Like")</button>
    </form>
</div>

<p class="text-center">Total Likes: @Model.UserLikes.Count</p>

<div class="d-flex justify-content center align-items-top mt-3">
    <ul>
        @foreach (UserPostLike upl in Model.UserLikes)
        {
            <li>@upl.LikedBy?.FirstName</li>
        }
    </ul>
</div>


@* Passing down the postId for the form to use as a hidden input! *@

@await Html.PartialAsync("_NewComment", new UserPostComment(){PostId = Model.PostId})


@await Html.PartialAsync("_PostComments", Model.UserComments)